.fundototal{
    width: 360px;
    height: 3254px;
    background-color: rgb(255, 255, 255);
    margin-left: 0%;
    

}

*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

form{
    width: 360px;
    height: 2900px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6%;
    
}


img{
    width: 100%;
}

.desctexto{
    opacity: 50%;

}
.infocrianca{

    width: 312px;
    height: 48px;
    border-radius: 8px;
    opacity: 50%;
}
.infocrianca2{

    width: 312px;
    height: 98px;
    border-radius:8px ;
    opacity: 50%;
}
.btn1{
    width: 312px;
    height: 48px;
    border-radius: 8px;
    border: 1px;
    color:rgba(228, 58, 18, 1);
    gap: 8px;
    border-color: #e43a12;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    

}
.btn2{
    width: 312px;
    height: 48px;
    border-radius: 8px;
    border: 1px;
    color:rgb(255, 255, 255);
    gap: 8px;
    background-color: rgba(228, 58, 18, 1);
    border-style: solid;
    
}
.termos{
    color:#e43a12;
;

}
.arraste{
    width:312px;
}
.turno{
    width: 312px;
    height: 696px;
    
    
}
.turno1{

    width:312px;
    height: 128px;
    
}
.manha{
    width: 148px;
    height:128px;
    border-radius: 8px;
    border: 2px;
    border-width: 1px;
    border-style: solid;
}
.tarde{
    width: 148px;
    height:128px;
    border-radius: 8px;
    border: 2px;
    margin-left: 164px;
    position: relative;
    bottom:128px;
    border-width: 1px;
    border-style: solid;
}
.simbolo{
    width: 48px;
    height: 48px;
    position: relative;
    margin-left: 25px;
    margin-top: 35px;
}
.botao{
    margin-left: 10px;
    position: relative;
    bottom: 60px;
    
}
.desc{
    
    margin-left: 50px;
    margin-top: 10px;
}
.desc1{

    margin-left: 60px;

}

.esporte{
    background-color: rgb(255, 255, 255);
    width: 312px;
    height: 472px;
}
.fut{
    
    width: 148px;
    height:128px;
    border-radius: 8px;
    border: 2px;
    margin-left: 164px;
    position: relative;
    bottom:0px;
    border-width: 1px;
    border-style: solid;
    margin-top:10px;
}
.basquete{
    width: 148px;
    height:128px;
    border-radius: 8px;
    border: 2px;
    border-width: 1px;
    border-style: solid;
    position: relative;
    bottom: 128px;    
}
.natacao{
     width: 148px;
    height:128px;
    border-radius: 8px;
    border: 2px;
    border-width: 1px;
    border-style: solid;
    position: relative;
    bottom: 128px;
    margin-top: 15px;  
}
.yoga{
     width: 148px;
    height:128px;
    border-radius: 8px;
    border: 2px;
    margin-left: 164px;
    position: relative;
    bottom:0px;
    border-width: 1px;
    border-style: solid;
    bottom: 255px;
}
.voley{
    width: 148px;
    height:128px;
    border-radius: 8px;
    border: 2px;
    border-width: 1px;
    border-style: solid;
    position: relative;
    bottom: 240px;
    
}
.boxe{
    width: 148px;
    height:128px;
    border-radius: 8px;
    border: 2px;
    margin-left: 164px;
    position: relative;
    bottom:0px;
    border-width: 1px;
    border-style: solid;
    bottom: 368px;
}
.checkbox{
    width: 300px;
    height: 200px;
    font-size: 17px;
}
